/* General */

:root {
    --primary: #35df9c;
    --primary-dark: #159461;
    --primary-alt: #19a56d;
    --system: Inter var, Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
    font-family: var(--system);
}

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

p {
    max-width: 700px;
}

/* Links */

a {
    font-weight: bold;
    color: var(--primary);
    text-decoration: none;
}

a:hover {
    text-decoration: none !important;
}

.w3-button:hover {
    text-decoration: none !important;
}
.editor-nav a:hover {
    text-decoration: none !important;
}

/* Analitics */

.count {
    font-size: 35px;
    line-height: 0;
}

/* Images */

.profile-picture {
    width: 46px;
    aspect-ratio: 1/1;
    height: auto;
    object-fit: cover;
}

/* Modules */

.module-content {
    margin-left: 300px;
}

@media screen and (min-width: 993px) {
    .module-content > :not(hr) {
        margin-left: 10px;
    }
}

.module-header {
    padding-top: 22px;
}

.module-header h2 {
    font-size: 20px;
    margin: 10px 0;
}

.module-content h3 {
    font-size: 18px;
    margin: 15px 0;
}

ul {
    padding-left: 13px;
}

/* Layout */

.w3-sidebar {
    height: 100%;
}

.login-main {
    width: 80%;
    margin: auto;
    height: 100%;
}

.login-main-inner {
    height: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.login-form {
    flex: 2;
    align-self: center;
}

.login-form-inner {
    background-color: rgb(250, 250, 250);
    border: 2px solid rgb(233, 233, 233);
    padding: 20px;
    border-radius: 10px;
}

.login-header {
    flex: 1;
}

.login-footer {
    flex: none;
}

/* Forms */

textarea {
    border-style: solid;
    margin-bottom: 5px;
}

label {
    display: block;
    margin: 3px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    padding-left: 2px;
    margin-bottom: 2px;
    color: rgb(52, 52, 52);
}

.inline-form,
.inline-form * {
    display: inline;
}

textarea {
    width: 70%;
    height: 100px;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px;
    resize: none;
}

textarea.code {
    height: 800px;
    font-family: "DejaVu LGC Sans Code", "DejaVu Sans Mono", "Fira Code", "Source Code Pro", "Courier New", Courier, monospace;
}

input[type="button" i],
input[type="submit" i],
input[type="reset" i],
input[type="file" i]::-webkit-file-upload-button,
button,
select {
    border-style: solid;
    border-image: initial;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    border-width: 0;
}

.button-primary {
    background-color: var(--primary-dark);
    color: white;
}

.button-primary:hover {
    background-color: var(--primary-alt) !important;
    color: white !important;
}

input[type="text" i],
input[type="tel" i],
input[type="email" i],
input[type="password" i],
select {
    border-style: solid;
    border-image: initial;
    border-radius: 10px;
    border-width: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 3px;
    height: 40px;
}

:focus,
input[type="file" i]::-webkit-file-upload-button,
input,
button {
    outline: none !important;
}

/* Quickstart */

.quickstart-list a {
    color: darkslategray;
}

.quickstart-list a:hover {
    color: rgb(63, 107, 107);
    text-decoration: underline;
}

.quickstart h3 {
    margin-bottom: 0 !important;
    font-size: 25px;
}

.quickstart p {
    margin-top: 0;
}

.quickstart p {
    color: rgb(70, 70, 70);
}

.quickstart .close {
    float: right;
    color: rgb(83, 83, 83);
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
}

.quickstart .close:hover {
    color: rgb(41, 41, 41);
}

/* Quill editor */

.editor,
#editor {
    min-height: 600px;
    margin-left: 0 !important;
}

.ql-toolbar,
.ql-container {
    border-left: none !important;
    margin-left: 0 !important;
}

/* Themes page */

.themes {
    clear: both;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-right: 0;
}

@media screen and (min-width: 993px) {
    .theme {
        display: grid;
        grid-template-columns: 40% 60%;
        width: 100%;
        gap: 20px;
    }
}

@media screen and (max-width: 993px) {
    .theme h3,
    .theme p,
    .theme button {
        margin-left: 20px;
    }

    .theme button {
        float: right;
        margin-right: 20px;
    }
}

.theme .screenshot {
    width: 100%;
    border: 1px solid rgb(224, 224, 224);
}

@media screen and (max-width: 993px) {
    .themes .module-header {
        padding-top: 0;
    }
}

/* Misc */

.settings hr {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.dashboard-section {
    border-radius: 8px;
}
